<div class="jumbotron container-fluid">
    <a href="/brainstvadmins" class="btn btn-info marginTopBottomSmall"><i class="fa fa-arrow-circle-left"
            aria-hidden="true"></i><span>Back</span></a>

    <h4>TV Schedule</h4>
    <a href="/brainstvadmins/tvschedule/new" class="btn btn-success">Create/Add New</a>
    <hr class="my-1 document-divider">

    <nav class="navbar navbar-light bg-info">
        <a class="navbar-brand">Search Showing Name</a>
        <form action="/brainstvadmins/tvschedule/index" method="GET" class="form-inline my-2 my-lg-0 searchForm">
            <input class="form-control mr-sm-2" type="search" name="showingName"
                value="<%= searchOptions.showingName %>" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 searchBtn" type="submit" id="loader">Search</button>

        </form>
    </nav>

    <div class="table-responsive-sm">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Show Status</th>
                    <th scope="col">Show Date</th>
                    <th scope="col">Show Time</th>
                    <th scope="col">Showing Name</th>
                    <th scope="col">Link to the show</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                <% if(tvschedule != null && tvschedule.length != 0) { %>

                <% tvschedule.forEach(schedule => { %>
                <tr>
                    <th scope="row">
                        <a href="/brainstvadmins/tvschedule/<%= schedule.id %>/edit" class="text-success"
                            title="Edit Schedule"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </th>
                    <td><%= schedule.showingStatus %></td>
                    <td><%= schedule.showingDate.toDateString() %>
                    </td>
                    <td><%= schedule.showingTime %></td>
                    <td><%= schedule.showingName %></td>
                    <td><a href="<%= schedule.showPageLink %>" target="_blank">
                            <div class="btn btn-info" style="height:100%;width:100%">
                                More...
                            </div>
                        </a></td>
                    <td>
                        <!-- this is ejs rendering of delete form button in partials folder -->
                        <%- include('../../partials/deleteForm', { url: `/brainstvadmins/tvschedule/${schedule.id}` }) %>

                    </td>
                </tr>
                <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>

</div>