<header>
  <nav class="navbar top-header">
    <div class="navbar">
      <a class="nav-link" href="/brainstv/tvSchedule">TV SCHEDULE</a>
    </div>
    <div class="navbar">
      <a class="nav-link btn btn-warning text-dark rounded-pill"
        href="https://dashboard.flutterwave.com/donate/5iuz7jqwcoah" target="_blank">DONATE</a>
    </div>
    <div class="social-icons">
      <a href="mailto:publicmail@brainstv.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/brainstelevision" target="_blank"><i class="fa fa-facebook-square fa-lg"
          aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/brainstelevision/" target="_blank"><i class="fa fa-instagram fa-lg"
          aria-hidden="true"></i></a>


      <a href="https://twitter.com/BrainsTV" target="_blank"><i class="fa fa-twitter-square fa-lg"
          aria-hidden="true"></i></a>

      <a href="https://www.youtube.com/brainstelevision" target="_blank"><i class="fa fa-youtube-square fa-lg"
          aria-hidden="true"></i></a>
    </div>
    <div class="search-bar">
      <form action="/brainstv/search" method="GET" class="form-inline my-2 my-lg-0" id="searchForm">
        <input type="search" class="form-control mr-sm-2" name="showTitle"
          value="<%#= allShowsA_Z != null ? searchOptions.showTitle : '' %>" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" id="searchBtn" type="submit">Search</button>
      </form>
    </div>
    <div class="navbar" id="auth-link">
      <% if (user) { %> <div class="d-flex align-items-center">
        <a id="userOptions" class="nav-link">
          <div class="userCaretDown">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
          <div class="flex-shrink-0">
            <% if (user.profileImagePath != null) { %>
            <img height="30" width="30" src="<%= user.profileImagePath %>" class="align-self-start mr-3 reviewerImg"
              alt="Club member photo">

            <% } else if (user.gender != 'Female'){ %>
            <img height="30" width="30" src="/images/male_avatar.png" class="align-self-start mr-3 reviewerImg"
              alt="Club member photo">
            <% } else { %>
            <img height="30" width="30" src="/images/female_avatar.png" class="align-self-start mr-3 reviewerImg"
              alt="Club member photo">
            <% } %>
          </div>
          <div class="flex-grow-1 ms-3">
            Hi <%= user.firstname %>
          </div>
        </a>
        <% if (user.role === 'clubMember') { %>
        <div class="userOptions">
          <div class="drop-menu">
            <a class="dropdown-item py-2" href="/clubmembers/profile/<%= user.id %> ">View your profile</a>
            <div class="dropdown-divider m-0"></div>
            <a class="dropdown-item py-2" href="/clubmembers/profile/<%= user.id %>/edit">Edit your profile</a>
            <div class="dropdown-divider m-0"></div>
            <a class="dropdown-item py-2" href="/brainstv/contact-us">Send us email</a>
            <div class="dropdown-divider m-0"></div>
            <a class="dropdown-item py-2" href="/private/account/security/details">Change your password</a>
          </div>
        </div>
        <% } else { %>
        <div class="userOptions">
          <div class="drop-menu">
            <a class="dropdown-item py-2" href="/brainstvadmins">Open Admin Panel</a>
            <div class="dropdown-divider m-0"></div>
            <a class="dropdown-item py-2" href="/private/account/security/details">Change your password</a>
          </div>
        </div>
        <% } %>
      </div>
      <a class="nav-link logout"><i class="fa fa-sign-out" aria-hidden="true"></i>SIGN
        OUT</a>
      <% } else { %>
      <a class="nav-link login" href="/clubmembers/login"><i class="fa fa-user" aria-hidden="true"></i>SIGN
        IN</a>
      <a class="nav-link register" href="/clubmembers/joining-brains-club-is-easy"><i class="fa fa-user-plus"
          aria-hidden="true"></i>JOIN BRAINS CLUB</a>
      <!-- <a class="nav-link register" href="/clubmembers/joinbrainsclub"><i class="fa fa-user-plus"
          aria-hidden="true"></i>JOIN BRAINS CLUB</a> -->
      <% } %>
    </div>

  </nav>
  <nav class="navbar menu-bar">
    <div class="nav-menu-buttons">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="/">
          <% if (loadSiteLogo != null && loadSiteLogo != '') { %>
          <img src="<%= loadSiteLogo %>" class="d-inline-block align-top" id="logo" alt="BrainsTV Logo">
          <% } else { %>
          <img src="/images/transparentlogo.png" class="d-inline-block align-top" id="logo" alt="BrainsTV Logo">
          <% } %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link menuItems" href="/brainstv/shows"><i class="fa fa-television fa-lg shows"
                  aria-hidden="true"></i><span>Shows</span> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link menuItems" href="/brainstv/games"><i class="fa fa-gamepad fa-lg games"
                  aria-hidden="true"></i><span>Games</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link menuItems" href="/brainstv/videos"><i class="fa fa-play fa-lg videos"
                  aria-hidden="true"></i><span>Videos</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link menuItems" href="/brainstv/activities"><i class="fa fa-cubes fa-lg activities"
                  aria-hidden="true"></i><span>Activities</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link menuItems" href="/brainstv/takepart"><i class="fa fa-commenting fa-lg takePart"
                  aria-hidden="true"></i><span>Take Part</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link menuItems" href="/brainstv/eclassroom"><i class="fa fa-home fa-lg eClassRoom"
                  aria-hidden="true"></i><span>E-Classroom</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link menuItems" href="/brainstv/newsupdate"><i class="fa fa-newspaper-o fa-lg newsRoom"
                  aria-hidden="true"></i><span>NewsUpdate</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link menuItems dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h fa-lg ellipsis"
                  aria-hidden="true"></i><span>More</span></a>
              <div class="dropdown-menu-custom-left dropdown-menu">
                <a class="dropdown-item" href="/brainstv/question-and-answers">Questions & Answers</a>
                <a class="dropdown-item" href="/brainstv/contact-us">Contact Us</a>
                <a class="dropdown-item" href="/brainstv/advertise">Advertise</a>
                <a class="dropdown-item" href="https://brainstv.info/">Premium Birthday Booking</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://brainstv.info/board-team/">About Us</a>
                <a class="dropdown-item" href="/brainstv/our-terms">Our Terms</a>
                <a class="dropdown-item" href="/brainstv/privacy-policy">Privacy Policy</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/brainstv/shop">Shop</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

    </div>

  </nav>
  <div class="informationFlash">
    <% if (loadSiteFlashInfo != null && loadSiteFlashInfo != '') { %>
    <h3><%= loadSiteFlashInfo %> </h3>
    <% } else { %>
    <h3>NO FLASH INFORMATION AVAILABLE</h3>
    <% } %>
  </div>
</header>