<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="shortcut icon" href="/favicon.ico?v=2"" type=" image/x-icon"> <title>BrainsTv</title>
    <script defer src="/javascript/fileUpload.js"></script>
</head>

<body oncontextmenu="return false;">
    <div id="app">
        <div id="loadingSpinner">
            <span class="fa fa-spinner fa-spin fa-3x fa-fw"></span>
            <span class="sr-only">Loading...</span>
        </div>
        <div class="app">
            <%- include('../partials/header.ejs') %>
            <% if (locals.errorMessage != null) { %>
            <div class="alert alert-warning alert-dismissible fade show" id="catchErrors" role="alert">
                <strong><%- include('../partials/errorMessage.ejs') %></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>
            <% if (locals.successMessage != null) { %>
            <div class="alert alert-success alert-dismissible fade show" id="success" role="alert">
                <strong><%- include('../partials/successMessage.ejs') %></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>
            <%- body %>
            <%- include('../partials/footer.ejs') %>
            <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js" integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww==" crossorigin="anonymous"></script> -->

            <!-- Modal -->
            <div class="modal fade" id="popUpMessage" tabindex="-1" role="dialog" aria-labelledby="popUpMessageLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="popUpMessageLabel">Important Information</h2>
                            <button type="button" class="close popupMsgClose" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- if popup innerHTML is empty, do not display modal-->
                            <!-- Watch out for popup information -->
                            <div class="popUpTextInfo">This content will come from database. if no innerHTML then no
                                popup display</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary popupMsgClose"
                                data-dismiss="modal">Dismiss</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Modal -->

        </div>
        <!-- Begin BackToTop markup -->
        <div id="backToTop" title="Back to top">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
                <i class="fa fa-arrow-up fa-stack-1x fa-inverse" aria-hidden="true"
                    style="color: var(--color-background-dark)"></i>
            </span>
            <span class="sr-only">Back to top</span>
        </div>
        <!-- End BackToTop markup -->

        <!-- Begin Cookie notice markup -->
        <div id="jsCover" class="overLay"></div>
        <div id="js__gdpr" class="gdpr">
            <h2><strong>About Cookies & Your Privacy:</strong></h2>
            <p>This site uses cookies for functionality, analytics, and advertising purposes as described in our <a
                    href="#" id="cookiesLink" data-transition="none">Cookie and Similar Technologies Notice</a>. By
                continuing to
                use our website, you agree to our use of cookies.</p>

            <div style="text-align: center;">
                <span class="fa-stack fa-lg" id="js__close__gdpr">
                    <i class="fa fa-square fa-stack-1x" style="color: #fff"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse" aria-hidden="true" style="color: var(--success)"></i>
                </span>
            </div>
        </div>
        <!-- This is the end of cookies notice -->
    </div>
    <script src="/javascript/jquery.min.js"></script>
    <script src="/javascript/bootstrap.bundle.min.js"></script>
    <script src="/javascript/script.js"></script>

</body>

</html>