<div class="form-row align-items-center">
  <div class="col-sm-5">
    <label for="firstname" class="col-form-label">First name</label> <span class="requiredfield">*</span>
    <input type="text" name="firstname" value="<%= admin.firstname %>" class="form-control" id="firstname"
      placeholder="First name" required>
  </div>
  <div class="col-sm-5">
    <label for="lastname" class="col-form-label">Last name</label> <span class="requiredfield">*</span>
    <input type="text" name="lastname" value="<%= admin.lastname %>" class="form-control" id="lastname"
      placeholder="Last name" required>
  </div>
</div>

<div class="form-row align-items-center">
  <div class="col-sm-5">
    <label for="email" class="col-form-label">Email</label> <span class="requiredfield">*</span>
    <input type="email" name="email" class="form-control" id="email" placeholder="Admin email address"
      value="<%= admin.email %>" autocomplete="current-password" required>
  </div>
  <div class="col-sm-5">
    <label for="role" class="col-form-label">Admin Role <span class="role"><button type="button"
          class="btn btn-sm btn-warning" data-toggle="popover" data-trigger="focus" title="Admin User Role"
          data-content="Super Admin Role passes CRUD (Create, Read, Update, Delete) privileges to the user. Please select 'superAdmin' or 'basicAdmin'. The later can only read and update. If none is selected there will be no administrative right. Beware!"><i
            class="fa fa-question-circle-o" aria-hidden="true"></i></button></span></label>
    <div class="form-group row mb-0">
      <select name="role" class="custom-select" id="role">
        <option selected disabled>-- Select Admin Role --</option>
        <option selected><%= admin.role %></option>
        <option name="superAdmin" value="superAdmin">Super Admin (CRUD)</option>
        <option name="basicAdmin" value="basicAdmin">Basic Admin (RU)</option>
      </select>
    </div>
  </div>
</div>

<div class="form-row align-items-center mt-1">
  <div class="col-sm-5">
    <label for="dob">Your date of birth</label><span class="requiredfield">*</span>
    <input type="date" class="form-control" name="dob" class="form-control" id="dob" placeholder="Your date of birth"
      value="<%= admin.dob != null ? admin.dob.toISOString().split('T')[0] : "" %>" required>
  </div>
  <div class="col-sm-5">
    <label for="dob">Phone number</label><span class="requiredfield">*</span>
    <input type="number" name="phone" class="form-control" id="phone" placeholder="Phone number"
      value="<%= admin.phone %>" required>
  </div>
</div>
<div class="form-row align-items-center mt-1">
  <div class="col-sm-5">
    <label for="dob">City</label><span class="requiredfield">*</span>
    <input type="text" name="city" class="form-control" id="city" placeholder="Your city or town"
      value="<%= admin.city %>" required>
  </div>
</div>

<div class="form-row align-items-center">
  <div class="col-sm-5 mt-1">
    <label for="gender">Gender</label> <span class="requiredfield">*</span>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input gender" value="Male" id="boy" name="gender"
        <%= admin.gender === 'Male' ? 'checked' : '' %> required>
      <label class="form-check-label" for="boy">Male</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input gender" value="Female" id="girl" name="gender"
        <%= admin.gender === 'Female' ? 'checked' : '' %>>
      <label class="form-check-label" for="girl">Female</label>
    </div>
  </div>
</div>

<div class="form-row align-items-center">
  <div class="col-sm-5">
    <label for="password" class="col-form-label">Password</label> <span class="requiredfield"><small>(Must be at
        least 6 characters long.)</small></span>
    <input type="password" name="password" class="form-control" id="password" autocomplete="current-password"
      placeholder="Enter admin password">
  </div>

  <div class="col-sm-5">
    <label for="confirmPassword" class="col-form-label">Confirm Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
      aria-describedby="confirmPasswordHelpInline" placeholder="Confirm admin password" autocomplete="confirm-password">
  </div>
</div>

<div class="form-group  mb-3 mt-3">
  <div class="custom-control custom-checkbox">
    <input class="custom-control-input" type="checkbox" name="signedConsent" id="check" value="YES" required>
    <label class="custom-control-label" for="check">
      <small>I confirm that I am authorized to access this server.</small>
    </label>
  </div>
</div>

<!-- <div class="form-row align-items-center">
  <div class="col-sm-5 mb-3">
    <label for="userPassword" class="col-form-label">Confirm Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
      aria-describedby="confirmPasswordHelpInline" id="password" placeholder="Confirm admin password">
  </div>

</div> -->

<!-- 
<div class="form-group row">
  <label for="userName" class="col-sm-2 col-form-label">User Name</label>
  <div class="col-sm-6">
    <input type="text" name="userName" value="<%#= admin.userName %>" class="form-control" id="userName"
      placeholder="User name">
    </div>
  </div>
  <div class="form-group row">
    <label for="userEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-6">
      <input type="email" name="userEmail" class="form-control" id="userEmail" placeholder="User email address"
        value="<%#= admin.userEmail %>">
    </div>
  </div>
  <div class="form-group row">
    <label for="adminRole" class="col-sm-2 col-form-label">Admin Role <span class="role"><button type="button"
          class="btn btn-sm btn-warning" data-toggle="popover" data-trigger="focus" title="Admin User Role"
          data-content="Super Admin Role passes CRUD (create, retrieve, update, delete) privileges to the user. Default is 'basicAdmin' unless you select 'superAdmin'. Beware!"><i
            class="fa fa-question-circle-o" aria-hidden="true"></i></button></span></label>
    <select name="adminRole" class="custom-select" id="adminRole">
      <option selected disabled>-- Select Admin Role</option>
      <option name="superAdmin" value="superAdmin">Super Admin</option>
      <option name="basicAdmin" value="basicAdmin">Basic Admin</option>
    </select>
  </div>

  <div class="form-group row">
    <label for="userPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-6">
      <input type="password" name="userPassword" class="form-control" id="userPassword" placeholder="Password">
    </div>
  </div>
  -->