<div class="jumbotron container-fluid">
    <a href="/brainstvadmins" class="btn btn-info marginTopBottomSmall"><i class="fa fa-arrow-circle-left"
            aria-hidden="true"></i><span>Back</span></a>
    <h4>Learner Style/Category</h4>
    <a href="/categories/newcategory" class="btn btn-success">Create/Add New</a>
    <hr class="my-1 document-divider" />
    <nav class="navbar navbar-light bg-info">
        <a class="navbar-brand">Search Category</a>
        <form action="/categories" method="GET" class="form-inline my-2 my-lg-0 searchForm">
            <input type="search" class="form-control mr-sm-2" name="memberCategory"
                value="<%= searchOptions.memberCategory %>" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 searchBtn" type="submit" id="loader">Search</button>
        </form>
    </nav>
    <hr class="my-1" />
    <div class="table-responsive-sm">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col">#</span></th>
                </tr>
            </thead>
            <tbody>
                <% membercategory.forEach(category => { %>
                <tr>
                    <th scope="row"><a href="/categories/<%= category.id %>" class="text-info" title="Show Category"><i
                                class="fa fa-eye" aria-hidden="true"></i></a>
                    </th>
                    <th scope="row"><a href="/categories/<%= category.id %>/edit" class="text-success"
                            title="Edit Category"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </th>
                    <td><%= category.memberCategory %></td>
                    <td>
                        <!-- this is ejs rendering of delete form button in partials folder -->
                        <%- include('../partials/deleteForm', { url: `/categories/${category.id}` }) %>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>