<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-yellow">
                Basic Information
            </div>
            <div class="card-body">

                <p>Fields marked with <span class="requiredfield">*</span> are required.</p>
                <div class="form-row">
                    <div class="col-md-2 mb-2">
                        <div class="card" style="width: 10rem;">
                            <div class="card" style="width: 10rem;">
                                <img src="/images/remi-min.jpg" class="card-img-top" alt="Profile Image">
                            </div>
                            <input type="file" name="profilePhoto" class="form-control-file">
                        </div>

                    </div>
                    <label for="">Category:</label>
                    <div class="col-md-2 mb-2">
                        <select class="custom-select" name="category" id="category">
                            <% membercategories.forEach(category => { %>
                            <% if (category.id === clubmember.memberCategory) { %>
                            <option selected label="<%= category.memberCategory %>" value="<%= category.id %>">
                            </option>
                            <% } else { %>
                            <option label="<%= category.memberCategory %>" value="<%= category.id %>">
                            </option>
                            <% } %>

                            <% }) %>
                        </select>
                    </div>

                    <label for="">Date Joined:</label>

                    <div class="col-md-4 mb-2">
                        <div class="caard-body">
                            <input type="date" name="dateJoined"
                                value="<%= clubmember.dateJoined.toISOString().split('T')[0] %>">
                        </div>

                    </div>
                </div>

                <h5 class="marginTopBottomSmall">Full Name <span class="requiredfield">*</span></h5>
                <div class="form-row">
                    <div class="col-md-4 mb-2">
                        <!-- <label for="firstname">First name</label> -->
                        <input type="text" name="firstname" value="<%= clubmember.firstname %>" class="form-control"
                            id="firstname" placeholder="First name" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter your first name.</div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <!-- <label for="lastname">Last name</label> -->
                        <input type="text" name="lastname" value="<%= clubmember.lastname %>" class="form-control"
                            id="lastname" placeholder="Last name" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter your last name.</div>
                    </div>

                </div>
                <h5 class="marginTopBottomSmall">Email address <span class="requiredfield">*</span></h5>
                <div class="form-group">
                    <div class="input-group">
                        <input type="email" name="email" value="<%= clubmember.email %>" class="form-control" id="email"
                            placeholder="Your email address" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter your email.</div>
                    </div>
                </div>

            </div>


            <div class="card-header bg-yellow">
                Gender and Age Details
            </div>
            <div class="card-body">
                <h5 class="marginTopBottomSmall">Gender <span class="requiredfield">*</span></h5>
                <div class="custom-control custom-radio mb-3">
                    <input type="radio" class="custom-control-input" value="<%= clubmember.gender %>" name="gender"
                        required>
                    <label class="custom-control-label" for="girl">A GIRL</label>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please select a boy or girl.</div>
                </div>

                <h5 class="marginTopBottomSmall">Age <span class="requiredfield">*</span></h5>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" name="age" id="6yrs"
                        value=value="<%= clubmember.age %>" required>
                    <label for="6yrs" class="custom-control-label">6</label>
                    <div class="valid-feedback twelveplusfeedback">Looks good!</div>
                    <div class="invalid-feedback twelveplusfeedback">Please select your age.</div>
                </div>
            </div>

            <div class="card-header bg-yellow">
                Contact Details
            </div>
            <div class="card-body">
                <h5 class="marginTopBottomSmall">Phone number <span class="requiredfield">*</span>
                </h5>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="phone" value="<%= clubmember.phone %>" class="form-control"
                            placeholder="Phone number" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Phone number is required.</div>
                    </div>
                </div>
                <h5 class="marginTopBottomSmall">Address <span class="requiredfield">*</span></h5>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="address" value="<%= clubmember.address %>" class="form-control"
                            id="address" placeholder="Your address" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Address is required.</div>
                    </div>
                </div>
            </div>

            <div class="card-header bg-yellow">
                Change Password
            </div>
            <div class="card-body">

                <h5 class="marginTopBottomSmall">NEW PASSWORD <span class="requiredfield">*</span></h5>
                <div class="form-group">
                    <small id="passwordHelpInline" class="text-muted">
                        <span class="requiredfield">Must be at least 6 characters long.</span>
                    </small>
                    <div class="input-group">
                        <input type="password" name="password" class="form-control mx-sm-3"
                            aria-describedby="passwordHelpInline" id="password" placeholder="Enter your password"
                            required>
                    </div>
                </div>

                <h5 class="marginTopBottomSmall">CONFIRM NEW PASSWORD</h5>
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" name="confirmpassword" id="confirmpassword" class="form-control mx-sm-3"
                            aria-describedby="confirmPasswordHelpInline" id="password"
                            placeholder="Confirm your password" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Password does not match.</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" name="signedConsent" id="check" value="YES">
                        <label class="custom-control-label" for="check">
                            <small>Tick box to update changes.</small>
                        </label>
                    </div>
                </div>
                <div class="switchIdButtons">
                    <button type="submit" class="btn btn-success msf-submit-cta btncheck" id="loader">Update</button>
                </div>
            </div>






        </div>
    </div>


</div>
</div>