<div class="row">
    <div class="col-4 desktopScreen">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-basic-list" data-toggle="list"
                href="#list-basic" role="tab" aria-controls="basic">Basic Information</a>
            <a class="list-group-item list-group-item-action" id="list-moreInfo-list" data-toggle="list"
                href="#list-moreInfo" role="tab" aria-controls="moreInfo">Tell us more about you</a>
            <a class="list-group-item list-group-item-action" id="list-contact-details-list" data-toggle="list"
                href="#list-contact-details" role="tab" aria-controls="contact-details">Contact details</a>
            <a class="list-group-item list-group-item-action" id="list-login-details-list" data-toggle="list"
                href="#list-login-details" role="tab" aria-controls="login-details">Create login details</a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-basic" role="tabpanel" aria-labelledby="list-basic-list">
                <div class="card">
                    <div class="card-header bg-yellow">
                        Basic Information
                        <small class="mobileScreen">Already a
                            member?<a href="/login" style="color: #002e5f;">
                                Sign
                                in
                                here</a></small>
                    </div>
                    <div class="card-body">
                        <small class="desktopScreen" style="position: absolute; top: 15px; right: 15px;">Already a
                            member?<a href="/login" style="color: #002e5f;">
                                Sign
                                in
                                here</a></small>
                        <h5>Joining Brains Club will give loads of benefit like:</h5>
                        <ul class="list-group list-group-flush">
                            <li class="form-li-flex"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                <p>Featuring on our birthday celebration,</p>
                            </li>
                            <li class="form-li-flex"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                <p>Shopping discount,</p>
                            </li>
                            <li class="form-li-flex"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                <p>Shortlisting you for our live studio/recording audience etc.</p>
                            </li>
                        </ul>
                        <p>Fields marked with <span class="requiredfield">*</span> are required.</p>

                        <!-- <h5 class="marginTopBottomSmall">Your profile Photo:</h5> -->
                        <label for="profilePhoto">Your profile Photo:</label>
                        <div class="__form-row">
                            <div class="col-sm-6 my-2">
                                <input type="file" name="profilePhoto" class="filepond">
                            </div>
                        </div>

                        <!-- space for category -->
                        <div class="form-row">
                            <div class="col-md-6 mb-2">
                                <label for="category">Your Learning Style/Category</label>
                                <select class="custom-select" name="memberCategory" id="category">
                                    <% membercategories.forEach(category => { %>
                                    <% if (category.id == clubmember.memberCategory) { %>
                                    <option selected label="<%= category.memberCategory %>" value="<%= category.id %>">
                                    </option>
                                    <% } else { %>
                                    <option label="<%= category.memberCategory %>" value="<%= category.id %>">
                                    </option>
                                    <% } %>

                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-2">
                                <label for="firstname">First name</label><span class="requiredfield">*</span>
                                <input type="text" name="firstname" class="form-control" id="firstname"
                                    placeholder="First name">
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please enter your first name.</div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="lastname">Last name</label><span class="requiredfield">*</span>
                                <input type="text" name="lastname" class="form-control" id="lastname"
                                    placeholder="Last name">
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please enter your last name.</div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-0">
                                <label for="email">Parent email address</label><span class="requiredfield">*</span>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="email" name="email" class="form-control" id="email"
                                            placeholder="Your email address">
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">Please enter an email.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-0">
                                <label for="dob">Your date of birth</label><span class="requiredfield">*</span>
                                <input type="date" class="form-control" name="dob" class="form-control" id="dob"
                                    placeholder="Your date of birth">
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please enter date of birth</div>
                            </div>
                        </div>

                        <small class="noEmail">
                            <a tabindex="0" data-toggle="popover" data-trigger="focus" title="Email is Required"
                                data-content="Ask your parents or an adult to create one for you.">Don't have an
                                email address?</a>
                        </small>
                        <div class="switchIdButtons" style="display: flex !important;justify-content: flex-end;">
                            <a id="switch-list-moreInfo" class="btn btn-primary msf-cta">Next</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-moreInfo" role="tabpanel" aria-labelledby="list-moreInfo-list">
                <div class="card">
                    <div class="card-header bg-yellow">
                        Tell us more about yourself
                    </div>
                    <div class="card-body">
                        <h5><span class="clubmember_firstname"></span> Nice to meet you.<br>
                        </h5>

                        <h5 class="marginTopBottomSmall">Gender <span class="requiredfield">*</span></h5>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" value="Male" id="boy" name="gender">
                            <label class="custom-control-label" for="boy">Male</label>
                        </div>
                        <div class="custom-control custom-radio mb-3">
                            <input type="radio" class="custom-control-input" value="Female" id="girl" name="gender">
                            <label class="custom-control-label" for="girl">Female</label>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please select a male or female.</div>
                        </div>

                        <h5 class="marginTopBottomSmall">Class <i><small>(Example: Year 6)</small></i> <span
                                class="requiredfield">*</span></h5>
                        <div class="form-row">
                            <!-- <div class="input-group">
                                <input type="text" name="class" class="form-control" placeholder="Your class">
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Class is required.</div>
                            </div> -->
                            <div class="col-md-6 mb-2">
                                <select class="custom-select" name="className" id="className">
                                    <% classes.forEach(c => { %>
                                    <% if (c.id == clubmember.className) { %>
                                    <option selected label="<%= c.className %>" value="<%= c.id %>">
                                    </option>
                                    <% } else { %>
                                    <option label="<%= c.className %>" value="<%= c.id %>">
                                    </option>
                                    <% } %>

                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="marginTopBottomSmall"></div>

                        <div class="switchIdButtons" style="display: flex !important;justify-content: space-between;">
                            <a id="switch-list-basic" class="btn btn-primary msf-cta">Previous</a>
                            <a id="switch-list-contact-details" class="btn btn-primary msf-cta">Next</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-contact-details" role="tabpanel"
                aria-labelledby="list-contact-details-list">
                <div class="card">
                    <div class="card-header bg-yellow">
                        Your Contact Details
                    </div>
                    <div class="card-body">
                        <h5 class="marginTopBottomSmall">Your phone number <span class="requiredfield">*</span>
                        </h5>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="phone" class="form-control" placeholder="Phone number">
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Phone number is required.</div>
                            </div>
                        </div>
                        <h5 class="marginTopBottomSmall">City/Town where you live<span class="requiredfield">*</span>
                        </h5>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="city" class="form-control" id="city"
                                    placeholder="Your city or town">
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">City/Town is required.</div>
                            </div>
                        </div>
                        <div class="switchIdButtons" style="display: flex !important;justify-content: space-between;">
                            <a id="switch-2list-moreInfo" class="btn btn-primary msf-cta">Previous</a>
                            <a id="switch-list-login-details" class="btn btn-primary msf-cta">Next</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-login-details" role="tabpanel"
                aria-labelledby="list-login-details-list">
                <div class="card">
                    <div class="card-header bg-yellow">
                        Create your password
                    </div>
                    <div class="card-body">
                        <h5>Almost there...<br>
                            You need to create a secret password to use with your email address when you sign in.</h5>
                        <h5 class="marginTopBottomSmall">CHOOSE YOUR PASSWORD <span class="requiredfield">*</span></h5>
                        <div class="form-group">
                            <small id="passwordHelpInline" class="text-muted">
                                <span class="requiredfield">Must be at least 6 characters long.</span>
                            </small>
                            <div class="input-group">
                                <input type="password" name="password" class="form-control mx-sm-3"
                                    aria-describedby="passwordHelpInline" id="password"
                                    placeholder="Enter your password">
                            </div>
                        </div>

                        <h5 class="marginTopBottomSmall">CONFIRM YOUR PASSWORD</h5>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" name="confirmPassword" id="confirmPassword"
                                    class="form-control mx-sm-3" aria-describedby="confirmPasswordHelpInline"
                                    id="password" placeholder="Confirm your password">
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Password does not match.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" name="signedConsent" id="check"
                                    value="YES">
                                <label class="custom-control-label" for="check">
                                    <small>Finally, you need to confirm that your parent/guardian is happy for you to
                                        sign up by ticking this box.</small>
                                </label>
                            </div>
                        </div>
                        <div class="switchIdButtons" style="display: flex !important;justify-content: space-between;">
                            <a id="switch-2list-contact-details" class="btn btn-primary msf-cta">Previous</a>
                        </div>
                        <!-- <div class="submit-success alert-primary marginTopBottomSmall">Form successfully submitted</div>
                        <div class="submit-error alert-warning marginTopBottomSmall">There was an error, review all
                            fields
                            highlighted
                            in red and try again. <span class="requiredfield fa-stack fa-sm">
                                <i class="fa fa-circle-o fa-stack-2x"></i>
                                <i class="fa fa-exclamation fa-stack-1x"></i>
                            </span></div> -->

                    </div>
                </div>
            </div>





        </div>
    </div>
</div>