<div class="jumbotron container-fluid bg-newclubmember brainstv-msf">
    <!-- <a href="/" class="btn btn-info marginTopBottomSmall"><i class="fa fa-arrow-circle-left"
            aria-hidden="true"></i><span>Back</span></a> -->
    <h4 class="border-radius-none page-heading bg-yellow">Brains Club Registration</h4>
    <!-- <hr class="my-1"> -->
    <div class="card transparency">
        <!-- <form class="needs-validation" novalidate action="/clubmembers" method="POST" enctype="multipart/form-data"> -->
        <!-- <form action="/clubmembers/join" method="POST"> -->
        <form id="joinbrainsclub">
            <%- include('_form_fields') %>

            <div class="bg-yellow switchIdButtons" style="text-align: right; padding: 0.5rem 1.2rem;">
                <button type="submit" class="btn btn-success msf-submit-cta btncheck" id="loader">Submit</button>
            </div>
        </form>
    </div>

    <div class="section__recent__takePart _mt-3 p-3" style="background-color: #355394;">
        <h3 class="text-center text-light">Trending Now: Take Part Before time is up</h3>
        <div class="auto-grid-front-page-shows">
            <% fourRecentTakePart.forEach(recentTakePart => { %>
            <div class="autoGridPhotos transform-scale">
                <a href="/brainstv/show/<%= recentTakePart.slug %>">
                    <div class="noBorderResourcesOverlay"></div>
                </a>
                <!-- <div class="learningResourcesTopTitle"><%#= recentTakePart.showStatus %> </div> -->

                <img src="/images/show_images/<%= recentTakePart.showThumbnail %>" width="100%" height="200"
                    class="img-fluid" alt="<%= recentTakePart.showTitle %>">

                <div class="noBorderLearningResourcesBottomTitle"><%= recentTakePart.showTitle %> </div>
            </div>
            <% }) %>
        </div>
        <div class="text-center">
            <a href="/brainstv/takepart" class="btn btn-outline-light mt-3">All TakePart</a>
        </div>
    </div>

</div>