<div class="form-row align-items-center">
    <label for="livestreamURL" class="sr-only">Live Stream URL ID</label>
    <div class="col-md-6">
        <input type="text" class="form-control" name="livestreamURL" value="<%= livestream.livestreamURL%>"
            placeholder="Enter live stream URL">
    </div>

    <div class="col-sm-3 my-1">
        <span class="role"><button type="button" class="btn btn-sm btn-warning" data-toggle="popover"
                data-trigger="focus" title="URL From Streaming Platform"
                data-content="This is the original URL ID from your streaming platform. Example Youtube live stream."><i
                    class="fa fa-question-circle-o" aria-hidden="true"></i></button></span>
    </div>
</div>
<h5 class="marginTopBottomSmall">Stream To Class <span class="requiredfield">*</span>
</h5>
<div class="form-row">

    <div class="col-md-6 mb-2">
        <select class="custom-select" name="className" id="className" required>
            <% classes.forEach(c => { %>
            <% if (c.id == livestream.className.id) { %>
            <option selected label="<%= c.className %>" value="<%= c.id %>">
            </option>
            <% } else { %>
            <option label="<%= c.className %>" value="<%= c.id %>">
            </option>
            <% } %>

            <% }) %>
        </select>
    </div>
</div>