<div class="jumbotron container-fluid instagram-gradient _bg-show-details pb-1">
    <!-- <hr class="my-1 document-divider"> -->
    <!-- <div class="_show-details-container bg-light rounded p-3"> -->
    <% if (show.showType === "Video") { %>
    <!-- <img src="/images/show_images/<%#= show.showThumbnail %>" width="100%" height="100%" class="_img-fluid"
            alt="<%#= show.showTitle %>"> -->




    <div class="media bg-light d-flex flex-wrap">
        <%# if (show) { %>
        <div class="embed-responsive embed-responsive-16by9 _align-self-start _mr-3">
            <iframe class="responsive-iframe" width="560" height="315"
                src="https://www.youtube-nocookie.com/embed/<%= show.showId %>?rel=0&modestbranding=1" frameborder="0"
                allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <%# } %>
        <div class="media-body p-2">
            <p><%= show.introParagraph %></p>
            <p><%= show.bodyParagraph1 %></p>
            <p><%= show.bodyParagraph2 %></p>
            <p><%= show.bodyParagraph3 %></p>
            <p><%= show.bodyParagraph4 %></p>
            <p><%= show.bodyParagraph5 %></p>
            <p><%= show.bodyParagraph6 %></p>
            <p><%= show.bodyParagraph7 %></p>
            <p><%= show.bodyParagraph8 %></p>
            <p><%= show.bodyParagraph9 %></p>
            <p><%= show.bodyParagraph10%></p>
            <p class="mb-0"><small><%= show.activityList1%></small></p>
            <p class="mb-0"><small><%= show.activityList2%></small></p>
            <p class="mb-0"><small><%= show.activityList3%></small></p>
            <p class="mb-0"><small><%= show.activityList4%></small></p>
            <p class="mb-0"><small><%= show.activityList5%></small></p>
            <p class="mb-0"><small><%= show.activityList6%></small></p>
            <p class="mb-0"><small><%= show.activityList7%></small></p>
            <p class="mb-0"><small><%= show.activityList8%></small></p>
            <p class="mb-0"><small><%= show.activityList9%></small></p>
            <p class="mb-0"><small><%= show.activityList10%></small></p>
            <p class="mb-0"><small><%= show.activityList11%></small></p>
            <p class="mb-0"><small><%= show.activityList12%></small></p>

            <% if(show.ageGroup || show.footNote) { %>
            <div class="d-flex flex-wrap justify-content-around bg-warning p-2 mt-3">
                <p class="mb-0"><%= show.ageGroup%></p>
                <% if(show.footNote) { %>
                <p class="mb-0 text-danger desktopScreen">|</p>
                <p class="mb-0"><%= show.footNote%></p>
                <% } %>
            </div>
            <% } %>

        </div>


    </div>
    <!-- <div class="show-details">
        <iframe class="responsive-iframe" width="560" height="315"
            src="https://www.youtube-nocookie.com/embed/<%#= show.showId %>?rel=0&modestbranding=1" frameborder="0"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

    </div> -->
    <% } %>
    <!-- End of ShowType = Video -->

    <!-- Start of ShowType = Show -->
    <% if (show.showType === "Show" || show.showType === "Activity" || show.showType === "Game" || show.showType === "TakePart" || show.showType === "News") { %>
    <div class="media bg-light d-sm-flex flex-wrap">
        <img src="/images/show_images/<%= show.showThumbnail %>" class="align-self-start mr-3 img-fluid"
            alt="<%= show.showTitle %>">
        <div class="media-body p-2">
            <h1><%= show.showTitle %> </h1>
            <p><%= show.introParagraph %></p>
            <p><%= show.bodyParagraph1 %></p>
            <p><%= show.bodyParagraph2 %></p>
            <p><%= show.bodyParagraph3 %></p>
            <p><%= show.bodyParagraph4 %></p>
            <p><%= show.bodyParagraph5 %></p>
            <p><%= show.bodyParagraph6 %></p>
            <p><%= show.bodyParagraph7 %></p>
            <p><%= show.bodyParagraph8 %></p>
            <p><%= show.bodyParagraph9 %></p>
            <p><%= show.bodyParagraph10%></p>
            <p class="mb-0"><small><%= show.activityList1%></small></p>
            <p class="mb-0"><small><%= show.activityList2%></small></p>
            <p class="mb-0"><small><%= show.activityList3%></small></p>
            <p class="mb-0"><small><%= show.activityList4%></small></p>
            <p class="mb-0"><small><%= show.activityList5%></small></p>
            <p class="mb-0"><small><%= show.activityList6%></small></p>
            <p class="mb-0"><small><%= show.activityList7%></small></p>
            <p class="mb-0"><small><%= show.activityList8%></small></p>
            <p class="mb-0"><small><%= show.activityList9%></small></p>
            <p class="mb-0"><small><%= show.activityList10%></small></p>
            <p class="mb-0"><small><%= show.activityList11%></small></p>
            <p class="mb-0"><small><%= show.activityList12%></small></p>

            <% if(user) { %>

            <% if(show.showType === 'Activity' || show.showType ==='TakePart') { %>
            <% if(show.takePartType === 'Cause' || show.takePartType === 'Competition') { %>
            <button type="button" class="btn btn-outline-info mb-2 revealSendHomeworkForm"><i class="fa fa-envelope"
                    aria-hidden="true"></i>Send</button>
            <div class="classWork bg-white p-2 hideElement">
                <form id="homeWorkUploadForm" action="/clubmembers/sendActivityTakePartEmail" method="POST"
                    enctype="multipart/form-data">
                    <div class="form-row align-items-center">
                        <div class="col-md-5 mb-2">
                            <!-- <label for="fullname">Show/Resource Title</label> <span class="requiredfield">*</span> -->
                            <input type="text" class="form-control" name="fullname"
                                value="<%= user.firstname%> <%= user.lastname.toUpperCase()%>">
                        </div>
                        <div class="col-md-5 mb-2">
                            <!-- <label for="email">Resource Type</label> <span class="requiredfield">*</span> -->
                            <input type="text" class="form-control" name="email" value="<%= user.email%>">
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-md-10 mb-2 p-2">
                            <label for="selectedActivityTakePartFile" class="form-control-label">Attach a file for this
                                <%= show.showType %> <span class="requiredfield"><small> [ You may attach: jpeg | jpg |
                                        png ]</small> *</span></label>
                            <input type="file" class="form-control-file" name="selectedActivityTakePartFile"
                                id="homeWorkUploadFile">
                        </div>
                    </div>
                    <div class="form-row align-items-center marginTopBottomSmall">
                        <div class="col-sm-3 mb-2">
                            <button type="submit" class="btn btn-outline-info" id="loader"><i class="fa fa-envelope"
                                    aria-hidden="true"></i>Send</button>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <button type="button" class="btn btn-outline-danger cancelOp"><i
                                    class="fa fa-times-circle-o" aria-hidden="true"></i><span>Close</span></button>
                        </div>

                    </div>
                </form>
            </div>
            <% } else if (show.takePartType === 'Discussion') { %>

            <button type="button" class="btn btn-outline-info mb-3 openDiscussionPanel hideElement"><i
                    class="fa fa-comments-o" aria-hidden="true"></i>Start Discussion</button>
            <!-- This next line holds the discussion for current discussion show -->
            <%- include('../../partials/discussion.ejs') %>

            <% } else if (show.takePartType === 'Poll') { %>
            <button type="button" class="btn btn-outline-primary mb-3 openPollPanel hideElement"><i
                    class="fa fa-bar-chart" aria-hidden="true"></i>Open Poll Panel</button>
            <% if (show.showTitle === 'School day' && user.role === 'clubMember') { %>
            <%- include('../../partials/schoolDayPoll.ejs') %>
            <% } else if(show.showTitle === 'Mum and Dad' && user.role === 'clubMember') { %>
            <%- include('../../partials/mumAndDadPoll.ejs') %>
            <% } else if(show.showTitle === 'When can you stop' && user.role === 'clubMember') { %>
            <%- include('../../partials/whenCanYouStop.ejs') %>
            <% } else if(user.role === 'superAdmin' || user.role === 'basicAdmin') { %>
            <p class="text-center"><small>Not for <strong><%= user.role %></strong>. Only Users with club member status
                    can participate.</small></p>
            <% } %>

            <% } %>
            <% } %>

            <% if(show.downloadableDocument != null) { %>
            <a href="/brainstv/download-activity-file/<%= show.id %>" class="btn btn-lg btn-outline-info"
                title="<%= show.showTitle %> "><i class="fa fa-download" aria-hidden="true"></i>Download this
                Activity</a>
            <% } %>


            <% } else { %>
            <a href="/clubmembers/joining-brains-club-is-easy">Register</a> |
            <a href="/clubmembers/login">Login</a> to send your file, download activity file, participate in poll or
            discussion.
            <% } %>


            <% if(show.ageGroup || show.footNote) { %>
            <div class="d-flex flex-wrap justify-content-around bg-warning p-2 mt-2">
                <p class="mb-0"><%= show.ageGroup%></p>
                <% if(show.footNote) { %>
                <p class="mb-0 text-danger desktopScreen">|</p>
                <p class="mb-0"><%= show.footNote%></p>
                <% } %>
            </div>
            <% } %>
        </div>
    </div>
    <% } %>


    <div class="flexStart">
        <div class="ShowTitle">
            <button type="button" class="btn btn-info rounded-0 p-3">
                <span><%= show.showTitle%> </span>
            </button>
        </div>

        <div class="reviewDetails">
            <% if (show.reviews.length === 0) { %>
            <button type="button" class="btn btn-warning rounded-0 p-3">
                No comment or rating found for this <%= show.showType%>!
            </button>
            <% } else { %>
            <button type="button" class="btn btn-warning text-gray-dark rounded-0 p-3">
                <span class="badge bg-info"><%= show.reviews.length %> </span>
                <span class="visually-hidden"><% if (show.reviews.length === 1) { %> Comment <% } else { %> Comments
                    <% } %></span> | <span class="visually-hidden">Average
                    Rating </span><span class="badge bg-info"><%= show.ratingsAverage %> </span>
                <% } %>
            </button>
        </div>
    </div>
    <form action="/brainstv/shows/<%= show.id %>/reviews" method="POST" class="show-details-review-form">
        <div class="form-row align-items-center mt-1">
            <div class="col-sm-7">
                <label for="review" class="col-sm-12 col-form-label">Comment on <%= show.showTitle %> </label>
                <div class="col-sm-12">
                    <textarea class="form-control" name="review" placeholder="Enter a public comment here"
                        id="review"><%#= review.review%></textarea>
                </div>
            </div>
            <div class="col-sm-5">
                <label for="rating" class="col-sm-6 col-form-label">Rate this <%= show.showType %> </label>
                <div class="col-md-4 mb-2">
                    <input type="number" min="1" max="5" class="form-control" name="rating"
                        value="<%#= review.rating %>">
                </div>
            </div>
        </div>

        <div class="col-sm-10 marginTopBottomSmall">
            <button type="submit" class="btn btn-success"><span>Send</span></button>
        </div>
    </form>
    <hr class="my-2 document-divider bg-light">
    <!-- Start Comment and Related Shows Section -->
    <div class="_container bg-light rounded-lg pb-2 px-3">
        <div class="row">
            <div class="col-sm">
                <div class="input-group margin-bottom-sm">
                    <span class="dark-blue-gradient-background px-3 mt-3">Member Comments</span>
                </div>
                <hr class="my-1 document-divider">
                <div class="comments mt-4">
                    <% show.reviews.forEach(review => { %>
                    <% if (review.clubmember != null) { %>
                    <div class="media">
                        <% if (review.clubmember.profileImagePath != null) { %>
                        <img height="40" width="40" src="<%= review.clubmember.profileImagePath %>"
                            class="align-self-start mr-3 reviewerImg" alt="Club member photo">

                        <% } else { %>
                        <img height="40" width="40" src="/images/blank-profile-picture.png"
                            class="align-self-start mr-3 reviewerImg" alt="Club member photo">
                        <% } %>

                        <div class="media-body">
                            <span><strong><%= review.clubmember.firstname %>
                                    <%= review.clubmember.lastname %></strong></span> |
                            <% let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }%>
                            <span><small><%= review.createdAt.toLocaleString('en-GB', options) %></small>
                                <small><%= review.createdAt.toISOString().split('T')[1].split('.')[0] %></small></span>
                            <p class="mb-0"> <%= review.review %></p>
                            <% for (let r = 0; r < review.rating; r++) { %>
                            <small><i class="fa fa-star activeStar text-warning" aria-hidden="true"></i></small>
                            <% } %>
                            <% if (review.rating < 5) { %>
                            <% for (let r = 0; r < 5 - review.rating; r++) { %>
                            <small><i class="fa fa-star-o inactiveStar text-secondary" aria-hidden="true"></i></small>
                            <% } %>

                            <% } %>

                            <!-- Button trigger modal -->
                            <div class="d-flex flex-row bd-highlight mb-3">
                                <div class="p-2 bd-highlight">
                                    <a href="/reviews/<%= review.id %>/edit" class="btn btn-info text-light"
                                        title="Edit review"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </div>
                                <div class="p-2 bd-highlight">
                                    <%- include('../../partials/deleteForm', { url: `/reviews/${review.id}` }) %>

                                </div>
                            </div>
                            <!-- <div>
                                <button type="button" title="Edit Review..." class="btn btn-info mt-0 mb-2 editMyReview"
                                    data-toggle="modal" data-target="#editReview-<%#= review.id %>">
                                    <small>Edit</small>
                                </button>
                                <button type="button" title="Delete Review..." class="btn btn-danger mt-0 mb-2"
                                    data-toggle="modal" data-target="#deleteReview-<%#= review.id %>">
                                    <small>Delete</small>
                                </button>
                            </div> -->

                        </div>
                        <!-- end of media body -->
                    </div>
                    <% } %>


                    <!-- Modal -->
                    <!-- <div class="modal reviewModal fade" id="editReview-<%#= review.id %>" tabindex="-1" role="dialog"
                        aria-labelledby="editReviewTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-info">
                                    <h5 class="modal-title" class="editReviewTitle">
                                        <%#= review.clubmember.firstname.toUpperCase() %>, edit and save your
                                        review
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/reviews/<%#= review.id %>" method="PUT"
                                    <form class="update-review-form">
                                        <div class="form-row align-items-center mt-1">
                                            <div class="col-sm-8">
                                                <label for="review" class="col-sm-6 col-form-label">Comment</label>
                                                <div class="col-sm-12">
                                                    <textarea class="form-control reviewInput"
                                                        name="review"><%#= review.review %></textarea>
                                                    <input class="reviewID hideElement" value="<%#= review.id %>">
                                                    <input class="showSlug hideElement" value="<%#= show.slug %>">
                                                    <input class="currentUserRole hideElement" value="<%#= user.role %>">
                                                    <input class="form-control reviewerId lhideElement"
                                                        name="reviewerId" value="<%#= review.clubmember.id %>">

                                                    <%# if (user) { %>
                                                    <input class="currentUserId hideElement" value="<%#= user.id %>">
                                                    <%# } %>

                                                    <%#= show.id%> <span>show id</span>
                                                    <%#= review.clubmember.id%> <span>clubmember id</span>
                                                    <%#= review.id%> <span>review id</span>
                                                    <%# if (user) { %>
                                                    <%#= user.id%> <span>user id</span>
                                                    <%# } %>
                                                </div>
                                            </div>
                                            <div class=" col-sm-4">
                                                <label for="rating" class="col-sm-6 col-form-label">Rating</label>
                                                <div class="col-md-4 mb-2">
                                                    <input type="number" min="1" max="5"
                                                        class="form-control reviewRating" name="rating"
                                                        value="<%#= review.rating %>">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-10 marginTopBottomSmall">
                                            <button type="submit" class="btn btn-success"><span>Save</span></button>
                                        </div>
                                        <div class="clientSideAlerts"></div>
                                    </form>

                                </div>
                                
                            </div>
                        </div>
                    </div> -->
                    <!-- end of modal -->
                    <% }) %>



                    <%# console.log(show.reviews) %>
                    <%# console.log(show) %>
                    <%# console.log(show.className.className) %>
                    <% let currentShowClass = show.className.className %>
                    <% let currentShowId = show.id %>

                </div>
                <!-- End of comments Div -->

            </div>
            <div class="col-sm">
                <div class="input-group margin-bottom-sm">
                    <span class="dark-blue-gradient-background px-3 mt-3">Related Resource</span>
                </div>

                <hr class="my-1 document-divider">


                <div class="auto-grid-front-page-shows-related-resources">
                    <% allShows.forEach(show => { %>
                    <% if(currentShowClass === show.className.className && currentShowId != show.id) { %>
                    <div class="autoGridPhotos transform-scale">
                        <a href="/brainstv/show/<%= show.slug %>">
                            <div class="noBorderResourcesOverlay"></div>
                        </a>
                        <!-- <div class="learningResourcesTopTitle"><%#= show.showStatus %> </div> -->

                        <img src="/images/show_images/<%= show.showThumbnail %>" width="100%" height="200"
                            class="img-fluid" alt="<%= show.showTitle %>">

                        <div class="noBorderLearningResourcesBottomTitle"><%= show.showTitle %> </div>
                    </div>
                    <% } %>
                    <% }) %>
                </div>


                <!-- <div class="main-flex">
                    <%# allShows.forEach(show => { %>
                    <%# if(currentShowClass === show.className.className && currentShowId != show.id) { %>

                    <div class="col-sm-5 flex-item">
                        <div class="embed-responsive _embed-responsive-16by9">
                            <a href="/brainstv/show/<%#= show.slug %>">
                                <div class="resourcesOverlay"></div>
                            </a>
                            <div class="learningResourcesTopTitle"><%#= show.showStatus %> </div>

                            <img src="/images/show_images/<%#= show.showThumbnail %>" width="100%" height="100%"
                                class="img-fluid" alt="<%#= show.showTitle %>">
                            <div class="learningResourcesBottomTitle"><%#= show.showTitle %></div>
                        </div>
                    </div>
                    <%# } %>
                    <%# }) %>
                </div> -->
            </div>
            <!-- End of relatedShows -->

        </div>
    </div>

    <!-- End Comment and Related Shows Section -->
</div>